<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${project}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${env_var:EPL_PYTHON_PATH}\python.exe"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="&quot;${env_var:EPL_LIB}\E1_LIB\E1_Easy_Uploader\ush.py&quot; &quot;${env_var:EPL_LIB}\E1_LIB\E1_Easy_Uploader\upload.script&quot; &quot;${project_loc}\Release\${project_name}.hex&quot;"/>
</launchConfiguration>
